[submodule "VolumeMixer_board"]
	path = VolumeMixer_board
	url = https://github.com/MarkMan0/VolumeMixer_board.git
	branch = v1.x
[submodule "VolumeMixer_PC"]
	path = VolumeMixer_PC
	url = https://github.com/MarkMan0/VolumeMixer_PC.git
	branch = v1.x
